{% extends "base.html.twig" %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1>Creation d'article</h1>

{{form_start(formArticle)}}

{{form_row(formArticle.title, {'attr':{'placeholder':"titre de l'article"}} )}}
{{form_row(formArticle.content, {'attr':{'placeholder':"contenu de l'article"}} )}}
{{form_row(formArticle.image, {'attr':{'placeholder':"url de l'image"}} )}}

<button type="submit" class="btn btn-success">
    {% if editMode %}
        enregistrer les modifications   
    {% else %}
    Ajouter l'article
    {% endif %}
</button>

{{ form_end(formArticle) }}

{% endblock %}