{% extends 'base.html.twig' %}

{% block body %}
<h1>bienvenue dans ce blog</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    At fuga dolor adipisci dolorum sed ea, molestias repudiandae esse quidem,
     ipsum deleniti
    quo culpa debitis, a quisquam voluptatum beatae reiciendis explicabo!
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    At fuga dolor adipisci dolorum sed ea, molestias repudiandae
    esse quidem, ipsum deleniti
    quo culpa debitis, a quisquam voluptatum beatae reiciendis explicabo!
</p>
{% endblock %}