{% extends 'base.html.twig' %}

{% block body %}

<section class="article">
    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">
                ecrit le {{ article.createdAt| date('d/m/Y') }} à {{article.createdAt | date('H:i') }}
            </div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw }}
                <a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">lire la suite</a>
            </div>
        </article>
    {% endfor %}
</section>

{% endblock %}