{# templates/essai/add.html.twig #}

{% extends "layout.html.twig" %}

{% block body %}

  <h2>Ajouter une annonce</h2>

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>
  {% include 'essai/form.html.twig' %}

{% endblock %}