{# templates/Advert/_form.html.twig #}

{# Cette vue n'hérite de personne, elle sera incluse par d'autres vues qui,
   elles, hériteront probablement du layout. Je dis « probablement » car,
   ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}

<h3>Formulaire d'annonce</h3>

{# On laisse vide la vue pour l'instant, on la comblera plus tard
      lorsqu'on saura afficher un formulaire. #}
<div class="well">
  <form>
    <div class="form-group">
      <label for="titre">titre</label>
      <input type="text" class="form-control" id="titre" aria-describedby="titre">
    </div>
    <div class="form-group">
      <label for="auteur">auteur</label>
      <input type="text" class="form-control" id="auteur">
    </div>
    <div class="form-group">
      <label for="id">id</label>
      <input type="text" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="contenu">contenu</label>
      <input type="text" class="form-control" id="contenu">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form></div>